<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>




<body>


      

<div id="bottom-banner" tabindex="-1" class="fixed bottom-0 left-0 z-20 flex justify-between w-full p-4  bg-twitter-blue">
    <div class=" flex flex-col mx-auto text-white ">
         
            <span class="text-20 font-bold" >Gå ikke glip af det, der sker!</span>
            <span>Folk på Twitter får nyheder fra alle andre.</span>
       
    </div>
    <div class="flex items-center gap-4 mr-14">
        <button id="#bottom-login" onclick="loginModal()" type="button" class="flex-shrink-0 inline-flex justify-center items-center hover:bg-opacity-90 rounded-3xl text-sm pl-3 pr-3 pt-2 pb-2 text-white border-2 border-white font-bold">
            <span class="">Log ind</span>
        </button>
        <button id="#bottom-signup" onclick="signupModal()" type="button" class="flex-shrink-0 inline-flex justify-center items-center hover:bg-opacity-90  rounded-3xl text-sm pl-3 pr-3 pt-2 pb-2 bg-white text-black font-bold">
            <span class="">Tilmeld dig</span>
        </button>
    </div>
</div>



</body>
</html>